<!DOCTYPE HTML>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>Добавление отзыва</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<form action="" class="ui-form">
  <h3>Добавить отзыв</h3>
  <div class="form-row">
    <input type="text" id="name_creator"><label for="name_creator">Введите имя: </label>
  </div>
  <div class="form-row">
    <textarea rows="5" cols="34" id="content"></textarea><label for="content">Введите отзыв: </label>
  </div>
  <p><input type="submit" value="Добавить"></p>
</form>
</body>
</html>